h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}
